# Ignora node_modules e arquivos de ambiente
node_modules/
.env

# Ignora arquivos PDF na raiz
*.pdf

# Logs (corrigido: "log" e não "logs")
data/log/*
!data/log/.gitkeep

# Processados
data/processed/*
!data/processed/.gitkeep

# Uploads
data/uploads/*
!data/uploads/.gitkeep

# Atualizações
data/update/*
!data/update/.gitkeep
