# Ignora node_modules e arquivos de ambiente
node_modules/
.env

# Ignora arquivos PDF na raiz (caso existam)
*.pdf

# Ignora arquivos nas pastas específicas, mas mantém as pastas
# Logs
data/logs/*
!data/logs/.gitkeep

# Processados
data/processed/*
!data/processed/.gitkeep

# Atualizações
data/update/*
!data/update/.gitkeep

# Uploads
uploads/*
!uploads/.gitkeep
