node_modules/
.env
*.pdf
data/logs/*.log
data/logs/*.json
data/processed/*.json
data/processed/*.csv
data/processed/*.text
data/processed/*.html
data/processed/*.xml
data/processed/*.xlsx
data/processed/*.xls
data/processed/*.xlsm
data/processed/*.xlsb
data/processed/*.xlsm
data/processed/*.xlsb
data/processed/*.xls
data/processed/*.parquet
data/processed/*.parquet.gzip
data/processed/*.parquet.snappy
data/processed/*.parquet.lz4
data/processed/*.parquet.zstd
data/processed/*.parquet.lzo
data/processed/*.parquet.brotli
data/processed/*.parquet.lzop
data/processed/*.parquet.snappy.parquet
data/processed/*.parquet.lz4.parquet
data/processed/*.parquet.zstd.parquet

data/update/*.json
data/update/*.csv
data/update/*.txt
data/update/*.html
data/update/*.xml
data/update/*.xlsx
data/update/*.xls
data/update/*.xlsm
data/update/*.xlsb

data/update/*.parquet
data/update/*.parquet.gzip
data/update/*.parquet.snappy
data/update/*.parquet.lz4
data/update/*.parquet.zstd
data/update/*.parquet.lzo
data/update/*.parquet.brotli
data/update/*.parquet.lzop

data/update/*.parquet.snappy.parquet
data/update/*.parquet.lz4.parquet
data/update/*.parquet.zstd.parquet
data/update/*.parquet.lzo.parquet
data/update/*.parquet.lzop.parquet
