* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }

  /* body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f2f2f2;
  } */

  #container {
    width: 100%;
    height: 100%;       /* Limita o tamanho máximo no desktop */
    margin: 0 auto;           /* Centraliza horizontalmente */
    padding: 20px;            /* Espaço interno */
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  
    display: flex;
    flex-wrap: wrap;          /* Permite que os itens quebrem linha */
    gap: 20px;                /* Espaço entre colunas */
    justify-content: center; /* Alinha as colunas horizontalmente */
    align-items: stretch;     /* Faz com que todas as colunas tenham a mesma altura */
    box-sizing: border-box;
  }
  
  .coluna {
    flex: 1 1 30%;            /* Cresce, encolhe, ocupa ~30% do espaço */
    min-width: 280px;         /* Largura mínima antes de quebrar para baixo */
    background-color: #f9f9f9;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  }


  

  h1 {
    margin-bottom: 20px;
  }

  textarea {
    width: 100%;
    height: 470px; /* Aproximadamente 100 linhas */
    resize: vertical;
    padding: 15px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    text-align: justify;
    
  }

  .botoes {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
  }

  button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  button.salvar {
    background-color: #28a745;
  }

  button.salvar:hover {
    background-color: #888821;
  }

  button.editar {
    background-color: #007bff;
  }

  button.editar:hover {
    background-color: #888821;
  }

  button.apagar {
    background-color: #dc3545;
  }

  button.apagar:hover {
    background-color: #888821;
  }
  button.voltar {
    background-color: #c935dc;
  }

  button.voltar:hover {
    background-color: #888821;
  }

  .botoeInstrucaos {
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    width: 100%; /* mesmo tamanho fixo */
    text-align: center;
    background-color: chocolate;
    margin-bottom: 5px;
    }
    
    .botaoabrirArquivos {
      padding: 10px 20px;
      font-size: 14px;
      border-radius: 6px;
      border: none;
      cursor: pointer;
      width: 100%;
      /* mesmo tamanho fixo */
      text-align: center;
      background-color: chocolate;
      margin-bottom: 5px;
  }
  
  
